{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 10"
          ]
        },
        "debug": true
      }
    ],
    "react",
    "es2015-ie"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}